<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BITS '22</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="./css/index.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/nav", { active: "home" }) %>
    
    <main class="main">
      <section class="landing">
        <div class="hero">
          <div class="hero-title">
            <p>BITS <span>'22</span></p>
          </div>
          <div class="hero-desc">
            <p>One can cook on and with an open fire. These are some of the ways to cook with fire outside. Cooking meat using a spit is a great way to evenly cook meat.</p>
          </div>
          <div class="hero-quote">
            <p><span>"</span> In order to keep meat from burning, it's best to slowly rotate it. <span>"</span></p>
          </div>
          <div class="hero-cta">
            <a href="/login">Register</a>
          </div>
        </div>
        
        <div class="mascot">
          <img src="https://www.freeiconspng.com/thumbs/pikachu-transparent/pikachu-transparent-clipart-4.png">
        </div>
      </section>
      
      <section class="info">
        <div class="info-title">What is <span>BITS</span></div>
        <div class="info-desc">
          <p>One can cook on and with an open fire. These are some of the ways to cook with fire outside. Cooking meat using a spit is a great way to evenly cook meat.</p>
          <p>One can cook on and with an open fire. These are some of the ways to cook with fire outside. Cooking meat using a spit is a great way to evenly cook meat.One can cook on and with an open fire. These are some of the ways to cook with fire outside. Cooking meat using a spit is a great way to evenly cook meat.</p>
          <p>One can cook on and with an open fire. These are some of the ways to cook with fire outside. Cooking meat</p>
          <p>One can cook on and with an open fire. These are some of the ways to cook with fire outside. Cooking meat using a spit is a great way to evenly cook meat.</p>
        </div>
      </section>
    </main>

    <%- include("partials/footer", { active: "home" }) %>

  </body>
</html>