@import "./main"; //NOTE: this is only used to generate the css so, this should be the correct path

@mixin gradientText {
    background: linear-gradient(110deg, $col-acnt-light 0%, $col-acnt-dark 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 100px $col-acnt-dark;
}

.main {
    width: 100%;
    padding: 4em 0 0 6em;
    
    .landing {
        
        height: 88vh;
        display: flex;
        flex-direction: row;
    }
}

.hero {
    width: 60%;
    
    .hero-title {
    font-size: 6em;
    font-weight: bold;
    color: $col-light;

        span {
            background: linear-gradient(110deg, $col-acnt-light 0%, $col-acnt-dark 100%);
            background-clip: text;
            color: transparent;
            text-shadow: 0 0 100px $col-acnt-dark;
        }
    }

    .hero-desc {
        margin: 1em 0;
        font-size: 1.2em;
        width: 40vw;
        color: $col-mid;
    }
    
    .hero-quote {
        margin: 3em 0;
        font-size: 1.2em;
        font-style: italic;
        color: $col-mid;
        
        span {
            color: $col-acnt-dark;
        }
    }

    .hero-cta {
        background: linear-gradient(110deg, $col-acnt-light 0%, $col-acnt-dark 100%);
        color: $col-light;
        display: inline-block;
        // padding: .7em 2.5em;
        border-radius: 8px;
        font-size: 1.2em;
        font-weight: bold;
        box-shadow: 10px 0 80px 2px $col-acnt-dark, -10px 0 80px 2px $col-acnt-light;
        transition: .15s;
        user-select: none;
        cursor: pointer;

        a {
            display: block;
            padding: .7em 2.5em;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 10px 2px 70px 0px $col-acnt-dark, -10px 2px 70px 0px $col-acnt-light;
        }
        
        &:active {
            transform: scale(.95);
            box-shadow: 10px 2px 90px 4px $col-acnt-dark, -10px 2px 90px 4px $col-acnt-light;
        }
    }
}

.mascot {
    width: 40%;
    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

.info {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $col-bg; //to make the background invisible
    
    .info-title {
        font-size: 4em;
        font-weight: bold;
        color: $col-light;
        span {
            @include gradientText();
        }
    }
    
    .info-desc {
        width: 50%;
        font-size: 1.1em;
        color: $col-mid;
        p {
            margin: 2em 0;
        }
    }
}